@font-face { font-family: Rose; src: url('../fonts/SurrealismRose.ttf'); } 
@font-face { font-family: Monaco; src: url('../fonts/Monaco.ttf'); } 
@font-face { font-family: AmericanTypewriter; src: url('../fonts/AmericanTypewriter.ttc'); } 
@font-face { font-family: Jigsaw; src: url('../fonts/Jigsaw.ttf'); } 
@font-face { font-family: Aweber; src: url('../fonts/AweberUltrathin-Wympz.ttf'); } 


:root {
    --background: rgb(237, 229, 210);
    --primary: rgb(214, 72, 72);
    --light-text: rgb(66, 66, 66);
    font-family: AmericanTypewriter, sans-serif;
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: center;
}

header h1 {
    text-align: center;
    font-size: xx-large;
    font-family: Aweber;
    letter-spacing: 0.1em;
    margin: 40px;
    padding: 20px 40px;
    border: 3px goldenrod solid;
    border-radius: 15px;
    width: fit-content;
    background-color:  hsl(from var(--background) h s calc(l - 5));
}

img {
    display: inline;
}

main {
    margin: 0 20px;
}

article {
    margin: 50px 15%;
}

article h2 {
    text-align: center;
}

article p {
    line-height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

article figure {
    margin: 0;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    color: var(--light-text);
}

article figure figcaption {
    padding-bottom: 1em;
}

article figure img {
    height: auto;
    width: 100%;
}

article figure img.portait {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 4;
}


.column {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    
}

.column__half {
    flex: 0.8 1 50%;
}

.block-text {
    padding: 20px;
    background-color:  hsl(from var(--background) h s calc(l - 5));
    border-radius: 10px;

}

.side-by-side {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: bottom;

}

.side-by-side > figure {
    width: 100%;
}


.text-column{
    width: 45%;
    float: left;
    padding: 2.5%;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    background: lightcoral;
}

.sketch__caption {
    text-align: center;
    font-style: italic;
}